/*about*/
    .about{border-bottom: 1px solid #d7d7d7;
        .about-wrap{padding: 46px 0 36px;
            .img{float: left; max-width: 260px; width: 100%;padding-left: 42px; }
            .txt{font:400 14px/18px 'Raleway'; color:#000; float: left; width:calc(100% - 260px); padding: 33px 0 0 15px;
                h2{color:#1f2b62; font:900 54px/54px 'Raleway'; text-transform: uppercase;     letter-spacing: -0.2px;     padding-bottom: 26px;}
                .button{display: none;
                    a{font:400 17px/17px 'Raleway'; color:#fff; background-color: #bd1f12; max-width: 198px; width: 100%; text-align: center; height: 38px; border-radius: 19px; overflow: hidden; display: block; text-decoration: none; padding-top: 10px;}
                }
            }
        }
    }
/*END about*/