/*about*/
    .about{
        .about-wrap{
            .img{float: left; max-width: 300px; width: 100%; text-align: center;}
            .txt{font:400 14px/14px 'Raleway'; color:#000; float: left; max-width: 770px;
                h2{color:#1f2b62; font:900 54px/54px 'Raleway';}
                .button{display: none;
                    a{font:400 17px/17px 'Raleway'; color:#fff; background-color: #bd1f12; max-width: 198px; width: 100%; text-align: center; height: 38px; border-radius: 16px; overflow: hidden; display: block; text-decoration: none; padding-top: 10px;}
                }
            }
        }
    }
/*END about*/