<section id="about" class="about">
    <div class="mbox">
        <div class="about-wrap cfix">
            <div class="img"><img src="images/man.png" alt=""></div>
            <div class="txt">
                <div class="txt-wrap">
                    <h2>Who i am?</h2>
                    <p>In 2006 I enrolled at Patrick Henry College with the intention of working in the public sector afterwards. Three academic years and a summer later I graduated with a shiny, new bachelor’s degree, contacts in my field, the experience of living in Russia for ten weeks and studying Russian, and a great internship. That was 2009, and what happened next can only be described as the sort of rollercoaster to which only freelancers can relate.In 2006 I enrolled at Patrick Henry College with the intention of working in the public sector afterwards. Three academic years and a summer later I graduated with a shiny, new bachelor’s degree, contacts in my field, the experience of living in Russia for ten weeks and studying Russian, and a great internship. That was 2009, and what happened next can only be described as the sort of rollercoaster to which only freelancers can relate</p>
                    <p>In 2006 I enrolled at Patrick Henry College with the intention of working in the public sector afterwards. Three academic years and a summer later I graduated with a shiny, new bachelor’s degree, contacts in my field, the experience of living in Russia for ten weeks and studying Russian, and a great internship. That was 2009, and what happened next can only be described as the sort of rollercoaster to which only freelancers can relate.In 2006 I enrolled at Patrick Henry College with the intention of working in the public sector afterwards. Three academic years and a summer later I graduated with a shiny, new bachelor’s degree, contacts in my field, the experience of living in Russia for ten weeks and studying Russian, and a great internship. That was 2009, and what happened next can only be described as the sort of rollercoaster to which only freelancers can relate</p>
                    <br>
                    <br>
                    <p>Did I get the job I was expecting? No, thanks to the global crisis and all of that. So what did happen?</p>
                </div>
                <div class="button"><span href="#">Read more</span></div>
            </div>
        </div>
</section>