<div class="comment-slider-wrap">
    <div class="mbox">

        <div class="comment-slider">

            <div class="comment-slider-main">

                <div class="comment-slider-item">
                    <div class="comment-slider-title">Wow! Great translation!</div>
                    <div class="comment-slider-text">In 2006 I enrolled at Patrick Henry College with the intention of working in the public sector afterwards. Three academic years and a summer lattter I graduated with a shiny, new bachelor’s degree, contacts in my field, the experience of living in Russia for ten weeks and studying Russian, and a great internship.</div>
                    <div class="comment-slider-autor">
                        <div class="autor-avatar">
                            <img src="images/autor-img.png" alt="" />
                        </div>
                        <div class="autor-name">
                            <a href="#">Andrey Petrov,<br /> co-owner VimpelCom</a>
                        </div>
                    </div>
                </div>

                <div class="comment-slider-item">
                    <div class="comment-slider-title">Perfect work for 2 days</div>
                    <div class="comment-slider-text">Three academic years and a summer lattter I graduated with a shiny, new bachelor’s degree, contacts in my field, the experience of living in Russia for ten weeks and studying Russian, and a great internship.</div>
                    <div class="comment-slider-autor">
                        <div class="autor-avatar">
                            <img src="images/autor-img.png" alt="" />
                        </div>
                        <div class="autor-name">
                            <a href="#">Andrey Petrov,<br /> co-owner VimpelCom</a>
                        </div>
                    </div>
                </div>

                <div class="comment-slider-item">
                    <div class="comment-slider-title">Perfect work for 3 days</div>
                    <div class="comment-slider-text">Three academic years and a summer lattter I graduated with a shiny, new bachelor’s degree, contacts in my field, the experience of living in Russia for ten weeks and studying Russian, and a great internship.</div>
                    <div class="comment-slider-autor">
                        <div class="autor-avatar">
                            <img src="images/autor-img.png" alt="" />
                        </div>
                        <div class="autor-name">
                            <a href="#">Andrey Petrov,<br /> co-owner VimpelCom</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>