<div class="comment-slider">

    <div class="comment-slider-main">

        <div class="comment-slider-item">
            <div class="comment-slider-title"></div>
            <div class="comment-slider-text"></div>
            <div class="comment-slider-autor">
                <div class="autor-avatar">
                    <img src="images/autor-img.png" alt="" />
                </div>
                <div class="autor-name">
                    <a href="#">Andrey Petrov,<br /> co-owner VimpelCom</a>
                </div>
            </div>
        </div>

        <div class="comment-slider-item">
            <div class="comment-slider-title"></div>
            <div class="comment-slider-text"></div>
            <div class="comment-slider-autor">
                <div class="autor-avatar">
                    <img src="images/autor-img.png" alt="" />
                </div>
                <div class="autor-name">
                    <a href="#">Andrey Petrov,<br /> co-owner VimpelCom</a>
                </div>
            </div>
        </div>

        <div class="comment-slider-item">
            <div class="comment-slider-title"></div>
            <div class="comment-slider-text"></div>
            <div class="comment-slider-autor">
                <div class="autor-avatar">
                    <img src="images/autor-img.png" alt="" />
                </div>
                <div class="autor-name">
                    <a href="#">Andrey Petrov,<br /> co-owner VimpelCom</a>
                </div>
            </div>
        </div>

    </div>

</div>