<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="top-foot-wrap">
        <div class="mbox">
            <div class="conteiner-foot">
                <div class="box-to-box">
                    <div class="head-text">you ready to order?</div>
                    <div class="description">
                        <p>In 2006 I enrolled at Patrick Henry College with the intention of working in the public sector afterwards.
                            Three academic years and a summer lattter I graduated with a shiny.</p>
                    </div>
                    <a href="" class="buton">Yes, I’m ready!</a>
                    
                    <div class="superform">
                        <div class="convert">
                            <form action="ajax.php" name="strange-popup" class="contact-form-popup">
                                <div class="contact-form-title">
                                    <h5>Start now!</h5>
                                </div>
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_name" required="required" value="" placeholder="First name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="email" name="contact_email" value="" required="required" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <textarea name="massage" required="required" placeholder="Messages" ></textarea> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="file" id="add_doc" required="required">
                                                <label for="add_doc" class='krasotka'>
                                                    <span>+ Add document</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item">
                                        <button type="submit" class="contact-submit">
                                            <span>SEND</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="suck-massege">
                        <p>thank you!</p>
                    </div>
                </div>
                <div class="box-to-box">
                    <div class="head-text">contact with me</div>
                    <div class="description">
                        <b>Location: <span>St. Petersburg, Russia</span></b>
                        <b>Skype:    <a href="skype:WorldwideEnglish?call">WorldwideEnglish</a></b>
                        <b>Phone:    <a href="tel:+79002002020">+7 (900) 200-20-20</a></b>
                        <b>EMAIL:<a href="mailto:mail@jaredfirth.com">mail@jaredfirth.com</a></b>
                           
                        <strong>Available normal working hours, nights and weekends by request</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bot-foot-wrap">
        <div class="mbox">
            <div class="convert cfix">
                <div class="copyr">© 2016 Jared Firth. All Rights Reserved </div>
                <div class="socials">
                    <a href="">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-skype"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<!-- /SCRIPTS -->