<div class="prety-icons">
    <div class="mbox">
        <div class="prety-icons-wrap">
            <div class="prety-icon-item">
                <div class="img">
                    <img src="images/prety-icon1.png" alt="" />
                </div>
                <div class="text">
                    <div class="text-top">Marketing<br />& Sale</div>
                    <div class="text-bottom">Text that sell</div>
                </div>
            </div>
            <div class="prety-icon-item">
                <div class="img">
                    <img src="images/prety-icon2.png" alt="" />
                </div>
                <div class="text">
                    <div class="text-top">International<br/> relations</div>
                    <div class="text-bottom">Texts that inform</div>
                </div>
            </div>
            <div class="prety-icon-item">
                <div class="img">
                    <img src="images/prety-icon3.png" alt="" />
                </div>
                <div class="text">
                    <div class="text-top">video game<br /> localization</div>
                    <div class="text-bottom">Texts that tell a story</div>
                </div>
            </div>
        </div>
    </div>
</div>