<section id="some" class="some">
    <div class="some-wrap">
        <div class="mbox">
            <div class="some-slider">
                <div class="item">
                    <div class="img"><img src="images/ico1.png" alt=""></div>
                    <div class="txt">
                        <b>International Relation</b>
                        <p>In 2010 I gave up on finding my dream job for the time being and instead turned my attention to what I could do to bolster my resume in the meantime.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/ico3.png" alt=""></div>
                    <div class="txt">
                        <b>Marketing & Sale</b>
                        <p>I wanted to return to Russia to continue improving my language skills, so when I found GeoVisions’ Conversation Corps, I jumped at the chance to live with a family in St. Petersburg, teaching their granddaughter English in exchange for room and board.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/ico2.png" alt=""></div>
                    <div class="txt">
                        <b>Video Game Localisation</b>
                        <p>In 2010 I gave up on finding my dream job for the time being and instead turned my attention to what I could do to bolster my resume in the meantime.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/ico1.png" alt=""></div>
                    <div class="txt">
                        <b>International Relation</b>
                        <p>In 2010 I gave up on finding my dream job for the time being and instead turned my attention to what I could do to bolster my resume in the meantime.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/ico3.png" alt=""></div>
                    <div class="txt">
                        <b>Marketing & Sale</b>
                        <p>I wanted to return to Russia to continue improving my language skills, so when I found GeoVisions’ Conversation Corps, I jumped at the chance to live with a family in St. Petersburg, teaching their granddaughter English in exchange for room and board.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/ico2.png" alt=""></div>
                    <div class="txt">
                        <b>Video Game Localisation</b>
                        <p>In 2010 I gave up on finding my dream job for the time being and instead turned my attention to what I could do to bolster my resume in the meantime.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>