<div class="top-slider" id="specialties">
    <div class="slider-wrap">

        <div class="slider-item">
            <div class="background">
                <img src="images/slider-background.jpg" alt="" />
            </div>
            <div class="mbox">
                <div class="slider-text">
                    <h2>Russian News Roundup (Translation Included)</h2>
                    <div class="text">Happy Monday! At the risk of losing a few followers, I will say this: Monday is perhaps my favorite day. I enjoy the prospect of potential opportunities in the pipeline, never knowing what the week will bring. For now, however, we will look back, as this week’s Russian News Roundup includes snippets discussing reignited hostilities in Ukraine, an update on the ruble, a problem brewing between Russia and France, and an anniversary in Hungary.</div>
                </div>
                <div class="slider-item-bottom">
                    <div class="img">
                        <img src="images/slider-bottom-img.png" alt="" />
                    </div>
                    <div class="slider-item-bottom-text">Marketing & Sale</div>
                </div>
            </div>
        </div>

        <div class="slider-item">
            <div class="background">
                <img src="images/slider-background.jpg" alt="" />
            </div>
            <div class="mbox">
                <div class="slider-text">
                    <h2>Russian News Roundup (Translation Included) 1</h2>
                    <div class="text">Happy Monday! At the risk of losing a few followers, I will say this: Monday is perhaps my favorite day. I enjoy the prospect of potential opportunities in the pipeline, never knowing what the week will bring. For now, however, we will look back, as this week’s Russian News Roundup includes snippets discussing reignited hostilities in Ukraine, an update on the ruble, a problem brewing between Russia and France, and an anniversary in Hungary.</div>
                </div>
                <div class="slider-item-bottom">
                    <div class="img">
                        <img src="images/slider-bottom-img.png" alt="" />
                    </div>
                    <div class="slider-item-bottom-text">Marketing & Sale</div>
                </div>
            </div>
        </div>

        <div class="slider-item">
            <div class="background">
                <img src="images/slider-background.jpg" alt="" />
            </div>
            <div class="mbox">
                <div class="slider-text">
                    <h2>Russian News Roundup (Translation Included) 2</h2>
                    <div class="text">Happy Monday! At the risk of losing a few followers, I will say this: Monday is perhaps my favorite day. I enjoy the prospect of potential opportunities in the pipeline, never knowing what the week will bring. For now, however, we will look back, as this week’s Russian News Roundup includes snippets discussing reignited hostilities in Ukraine, an update on the ruble, a problem brewing between Russia and France, and an anniversary in Hungary.</div>
                </div>
                <div class="slider-item-bottom">
                    <div class="img">
                        <img src="images/slider-bottom-img.png" alt="" />
                    </div>
                    <div class="slider-item-bottom-text">Marketing & Sale</div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="top-descript">
    <div class="mbox">
        <div class="top-descript-text">
            <div class="top-descript-main">
                News, opinions, and, of course, translations in the Russian-English language pair
            </div>
        </div>
    </div>
</div>