@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* prety-icons */

        .prety-icons{
            .prety-icons-wrap{align-items:flex-end;
                .prety-icon-item{display: block;
                    .img{margin:0 0 20px 0;text-align: center;}
                    .text-top, .text-bottom{text-align: center;}
                }
            }
        }

    /* /prety-icons */

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

    /* prety-icons */

        .prety-icons{padding: 40px 0 25px 0;
            .prety-icons-wrap{flex-wrap:wrap;
                .prety-icon-item{padding: 0 5px 15px 5px;
                    .text-top{font-size: 20px;}
                    .text-bottom{display: none;}
                }
            }
        }

    /* /prety-icons */

    /* top-block */

        .slider-wrap{
            .slider-item{padding: 40px 0 90px 0;
                .background{
                    img{margin-left: -150px;}
                }
                .slider-text{
                    h2{font-size: 72px;}
                    .text{font-size:24px;line-height: 32px;}
                }
                .slider-item-bottom{font-size: 22px;font-weight: 600;}
            }
            .slick-arrow{bottom:5px;
                &.slick-prev{right: 100px;}
                &.slick-next{right:35px;}
            }
        }

    /* /top-block */

}
@media screen and (max-width: 600px){

    /* top-block */

        .slider-wrap{
            .slider-item{
                .slider-text{
                    h2{font-size: 36px;line-height: 40px;}
                    .text{font-size: 18px;line-height: 24px;}
                }
            }
        }

    /* /top-block */

}
@media screen and (max-width: 479px){

    /* top-block */

        .top-descript{font-size: 16px;line-height: 22px;}

    /* /top-block */

    /* comment-slider */

        .comment-slider{padding: 40px 0 70px 0;
            .slick-prev, .slick-next{top:auto;bottom:-80px;right:auto;}
            .slick-prev{left:calc(50% - 102px);}
            .slick-next{left:calc(50% + 0px);}
        }

    /* /comment-slider */

}
@media screen and (max-width: 320px){

}