@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 768px){
    .global-wrapper{overflow: hidden;}
    .main{padding-top: 0;}
    header{display: flex;align-items:stretch;justify-content:flex-start;position: relative;
        .top-header{width: 64%;
            .mbox{height: 115px;}
            .logo{
                svg{width: 199px;height: 81px;}
            }
            .top-other{display: none;}
        }
        .bottom-header-wrap{width: 36%;height: auto;display: flex;align-items:stretch; position: static; justify-content:flex-start;}
        .bottom-header{display: flex;align-items:stretch;justify-content:flex-start;overflow: visible;
            &.active{}
            .mbox{flex-direction:row-reverse;padding: 0;position: static;align-items:stretch;}
            .navigation{width: 50%;
                ul{max-width: 100%;flex-direction:column;width: 100%; height: calc(100vh - 120px); display: flex; justify-content: space-around; align-items: center; }
                li{ width: auto;
                    a{font-size: 24px;font-weight: 700;display: inline-block;width: auto;padding: 13px;
                        &:hover{background-color: inherit;opacity: .9;}
                    }
                }
                nav{position: absolute;width: 100%;left: 0;top: 0px; bottom: 0; right: 0; z-index: 15;min-height: 100vh;background-color: rgba(189,31,18, .95);display: flex;align-items:center;justify-content: space-around;bottom: 100%;left: 100%;transition:top ease-out .5s,left ease-out .2s; overflow: hidden;
                    &.active{bottom: 0;left: 0; position: fixed; top: 0; right: 0;}
                }
                button{display: block;position: absolute;top: 50%;right: 4.6%;transform: translateY(-50%);width: 100%;height: 32%;border:none;outline: none;background:transparent;max-width: 60px;z-index: 150;
                    &:after,&:before,span{height: 2px;width: 100%;background-color: #fff;position: absolute;top: 0;content: '';left: 0;transition:all ease-out .2s;}
                    span{top: calc(50% - 1px);left: 50%;transform: translateX(-50%);}
                    &:before{top:auto;bottom: 0;}

                    
                }
                &.active button{
                        &:after,&:before{transform: rotate(45deg);top: 13px;}
                        &:before{transform: rotate(-45deg)}
                        span{width: 0%;}
                    }
            }
            .language{width: 50%;display: flex;align-items:stretch;justify-content:flex-start;
                &:after{display: none;}
                &.slidedawn{
                    li.active:last-child{top: 100%;background-color: #1f2b62;border-top: 1px solid #000;z-index: 14;}
                    li.active:first-child{top: 100%;background-color: #1f2b62;border-top: 1px solid #000;z-index: 14;}
                }
                ul{flex-direction: column;align-items:stretch;width: 100%;position: relative;}
                li{position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 150;display: flex;align-items:stretch;justify-content:center;z-index: 14;display: none;
                    // &:last-child{top: 100%;background-color: #1f2b62;border-top: 1px solid #000;z-index: 14;}
                    &.active{display: block;
                        &:after{display: none;}
                    }
                }
                a{font-size: 21px;padding: 43px 0px;}
            }
        }
    }
}
@media screen and (max-width: 600px){
    header{
        .top-header{width: 60%;}
        .bottom-header-wrap{width: 40%;}
    }
}
@media screen and (max-width: 479px){
    header{
        .top-header{width: 55%;
            .mbox{padding: 0 5px 0 5px;}
        }
        .bottom-header-wrap{width: 45%;}

    }
}
@media screen and (max-width: 410px){
 
    header{
        .top-header .mbox{height: 96px;padding: 0 0px 0 22px;}
        .bottom-header .language a{padding: 35px 0px;}
        .bottom-header .navigation button{max-width: 55px;}
        .bottom-header .navigation li{padding: 25px 0px;}
        .bottom-header .navigation li a{padding: 13px;font-size: 18px;}
        .bottom-header .navigation nav.active { padding-top: 0px;}
    }
}
@media screen and (max-width: 360px){
    header{
        .top-header .mbox{height: 88px;padding: 0 0px 0 7px;}
        .top-header .logo svg{width: 172px;height: 70px;}
        .bottom-header .navigation button{max-width: 49px;}
    }
}
@media screen and (max-width: 320px){
    header{
        .top-header .mbox{height: 81px;padding: 0 0px 0 8px;}
        .top-header .logo svg{width: 154px;height: 61px;}
        .bottom-header .language a{padding: 32px 0px;}
        .bottom-header .navigation button{max-width: 43px;}
        .bottom-header .navigation li{padding: 13px 0px;}
        .bottom-header .navigation li a{padding: 11px;font-size: 40px;}
    }
}
@media screen and (max-width: 450px){
    header .top-header .logo svg { width: 160px;}
}
@media screen and (max-height: 600px){
   .mobile header .bottom-header .navigation li a {font-size: 28px;}
}

@media screen and (max-height: 600px){
   .mobile header .bottom-header .navigation li a {font-size: 28px;}
}